/nbproject/private/
/build/
/dist/
/libtrudp/autoscan.log
/libtrudp/configure.scan
/libtrudp/autom4te.cache/
/libtrudp/config.log
/libtrudp/aclocal.m4
/libtrudp/configure
/libtrudp/intltool-update.in
/libtrudp/po/Makefile.in.in
/libtrudp/intltool-merge.in
/libtrudp/config.guess
/libtrudp/config.h.in
/libtrudp/intltool-extract.in
/libtrudp/config.sub
/libtrudp/depcomp
/libtrudp/config.status
/libtrudp/compile
/libtrudp/install-sh
/libtrudp/po/POTFILES
/libtrudp/missing
/libtrudp/docs/
/libtrudp/src/.libs/
/libtrudp/src/libtrudp.pc
/libtrudp/po/Makefile.in
/libtrudp/po/Makefile
/libtrudp/Makefile.in
/libtrudp/src/Makefile
/libtrudp/po/stamp-it
/libtrudp/ltmain.sh
/libtrudp/Makefile
/libtrudp/libtool
/libtrudp/src/Makefile.in
/libtrudp/stamp-h1
/libtrudp/config.h