/nbproject/private/
/autoscan.log
/configure.scan
/autom4te.cache/
/config.log
/aclocal.m4
/configure
/intltool-update.in
/po/Makefile.in.in
/intltool-merge.in
/config.guess
/config.h.in
/intltool-extract.in
/config.sub
/depcomp
/config.status
/compile
/install-sh
/po/POTFILES
/missing
/docs/
/src/.libs/
/src/libtrudp.pc
/po/Makefile.in
/po/Makefile
/Makefile.in
/src/Makefile
/po/stamp-it
/ltmain.sh
/Makefile
/libtool
/src/Makefile.in
/stamp-h1
/config.h
/m4/
/tests/Makefile.in
/tests/Makefile
/tests/.libs/
/tests/trudp_tst
/examples/Makefile
/examples/Makefile.in
/examples/trudpcat_ev
/examples/.libs/

/config.log
/repo/
/Doxyfile.bak
/trudp_0.*
/libtrudp_0.*